/*TAGS*/
body {
	margin:0px;
	background-color: #1a1a1a;
	color:white;
	font-size: 40px;
}

.blue {color:#00aaff}
.lightblue {color:#80c2e4}
.purple{color:#c661b3}
.green {color:#00ffaa}
.orange {color:#cb7961}